#card {
  width: 38%;
  height: 130%;
}

body {
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  background: url("https://i.quantrimang.com/photos/image/2016/11/3/dan-ong-truong-thanh-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 637px;
  max-height: 637px;
  overflow-x: hidden;
}

#lema {
  float: right;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
